.inact {
  background: #1f282d;
}

.p-overflow {
  overflow: visible !important;
}
.p-overflowY {
  overflow-y: visible !important;
}

.w3-light-black {
  background-color: #2d373c;
}

.textblue {
  color: #0071bc;
}
.p-company {
  background-color: #5a5555;
}
.grandFont {
  font-family: "Grandstander", sans-serif;
  font-size: 14px;
}
.p-pad-top {
  padding-top: 0.8em !important;
}
.p-pad-circle {
  padding: 16px;
  background-color: #ffe30d;
}
.p-radius-left {
  border-radius: 2em 0.4em 0.4em 2em;
}
.brand {
  text-decoration: none;
  color: blue;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
b {
  font-family: "Grandstander", sans-serif !important;
}
.brand:hover {
  color: blue;
}
.labelBadge {
  position: relative;
  top: 8px;
  font-size: 18px;
}
.dropdown-menu {
  width: 300px !important;
}

#main-content {
  margin-top: 5em;
}
.vw {
  display: none;
}
label,
button,
.w3-button,
li {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #fbfcf7;
}
.likeBtn {
  background-color: #fdffd3;
  border-radius: 5px;
  border: 1px solid black;
}
.p-tiny {
  font-size: 0.6em;
  font-weight: 600;
  color: #8ab7c0;
}
.p-lgrey {
  color: #adbabd;
}
.p-hover:hover {
  cursor: pointer;
}
.hr {
  margin-top: 2em;
  width: 30px;
  background-color: #a0e467;
  height: 5px;
  border-radius: 18px;
}
.border {
  border: 2px solid black;
  text-align: center;
}
.playbutton {
  position: absolute;
  bottom: 23px;
  border: none;
  width: 240px;
  height: 60px;
  left: 38px;
}
* {
  outline: none !important;
}
.f-right {
  float: right;
}
.cardT {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  color: #474747 !important;
}
.kidimg {
  background-image: url("../img/kids.png");
  height: 300px;
}
.nxtBtn3 {
  position: absolute;
  top: 80%;
  left: 55%;
}
.mobileOffset {
  position: relative;
  top: -20px;
  z-index: 0;
}
.zIdx {
  z-index: -1;
  background-color: #635d5d;
}
.bk {
  background-color: #635d5d;
  padding: 0px;
  margin-top: -10px;
}
.innerScreen {
  position: relative;
  top: -23em;
  border: 1px solid black;
  width: 13%;
}
.listView {
  list-style: none;
  color: white;
  display: block;
}
.p-inline {
  display: inline;
}
.listView li {
  padding: 6px;
}
/* horizontal Scroll */
.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 80px;
  white-space: nowrap;
}

.style-scroll::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
.style-scroll::-webkit-scrollbar-track {
  width: 3px;
  height: 0px;
  background: #ffff;
}

.style-scroll::-webkit-scrollbar-thumb {
  background: #254463;
  height: 0px;
}
.bckBtn {
  position: absolute;
  top: 8px;
}
.nxtBtn {
  position: absolute;
  top: 8px;
  right: 1px;
}
.imageDiv img {
  box-shadow: 1px 1px 10px #999;
  margin: 2px;
  max-height: 50px;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.scrolls2 {
  overflow-x: scroll;
  overflow-y: hidden;
  /* height: 80px; */
  white-space: nowrap;
}
#slide2 {
  display: none;
}
#slideBack2 {
  display: none;
}
.style-scroll::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
.style-scroll::-webkit-scrollbar-track {
  width: 3px;
  height: 0px;
  background: #ffff;
}

.style-scroll::-webkit-scrollbar-thumb {
  background: #254463;
  height: 0px;
}
.bckBtn {
  position: absolute;
  top: 8px;
}
.nxtBtn {
  position: absolute;
  top: 8px;
  right: 1px;
}
.imageDiv img {
  box-shadow: 1px 1px 10px #999;
  margin: 2px;
  max-height: 50px;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.scrolls3 {
  overflow-x: scroll;
  overflow-y: hidden;
  /* height: 80px; */
  white-space: nowrap;
}

/* /horizontal Scroll */

@media (max-width: 768px) {
  .menubtn {
    display: none !important;
  }
  .logo {
    width: 150px;
  }
  .videoThumbnail {
    width: 100%;
  }
  .playbutton {
    position: absolute;
    bottom: 15px;
    border: none;
    width: 150px;
    height: 30px;
    left: 25px;
  }
  .shareBtn {
    display: none;
  }
  .innerScreen img {
    width: 450px;
  }
  .innerScreen {
    position: relative;
    top: -23em;
    left: 1.2em;
    border: 1px solid black;
    width: 51%;
  }
  .nxtBtn3 {
    position: absolute;
    top: 80%;
    left: 73%;
  }
  .cardT {
    font-size: 14px;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 14px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}
@media (max-width: 1367px) {
  .innerScreen {
    position: relative;
    top: -23em;
    border: 1px solid black;
    width: 15%;
  }
}
@media (max-width: 376px) {
  .innerScreen {
    position: relative;
    top: -23em;
    left: 0.6em;
    border: 1px solid black;
    width: 50%;
  }
  .mv {
    padding-left: 3em;
  }
  .mv-none {
    display: none;
  }
  .vw {
    display: block;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 764px) {
}

@media (min-width: 991px) and (max-width: 1270px) {
}
